<div style="display: flex;">
     <div style="display: flex;">
            <app-button-active (actionOutput)="active()">
            </app-button-active>
            <app-button-display (actionOutput)="display()">
            </app-button-display>
            <app-button-delete (actionOutput)="delete()">
            </app-button-delete>
        </div> - 
        <div>{{ employe.nomPrenom }}</div> - 
        <div>{{ employe.poste }}</div> - 
        <div>{{ employe.departement }}</div>
       
      </div>
